:root {
    --screen-exlg: 1400px;
    --screen-lg: 992px;
    --screen-md: 768px;
    --screen-sm: 576px;
    --screen-exsm: 440px;

    /* 0000–1999: Elements and Components */

    /* 2000–2999: Element and Component Drop Downs */

    /* 3000–3999: Secondary Navigation */

    /* 4000–4999: Header / Footer */

    /* 5000–5999: Primary Navigation */

    /* 6000–6999: Full Screen Features */

    /* 7000–7999: Special Cases */

    /* 8000–8999: Modals / Dialog Windows */

    /* 9000–9999: Notifications */
}
